.home{
    width:100%;
    height:100vh;
}
.home h1{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.home p{
    font-size: 25px;
    font-style: italic;
}
.home-btn{
    background-color:#614BC3;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
    font-size: 22px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 